/* HTML Elements */
body {
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
    background:white;
    overflow:hidden;
}

/* General Classes */
.hide {
  display:none !important;
}

/* Custom Classes */
.top_panel {
  height:30px;
  width:100%;
  background:black;
}
.side_panel {
  display:flex;
  align-items:end;
  height:100%;
  width:15%;
  background-color:black;
}
.play_btn {
  width:100%;
  height:30px;
  background:blue;
  color:white;
  
}
.ball {
  position:absolute;
  border-radius:50%;
  z-index:-1;
}
.wall {
  position:absolute;
  z-index:-1;
  box-sizing: border-box;
  border-right:4px solid rgb(0, 255, 64);
}
.view {
  position:absolute;
  overflow:hidden;
  width:100vw;
  height:100vh;
  display:flex;
  flex-wrap: nowrap; 
}