body {
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
}
.play_btn {
  position:absolute;
  left:50vw;
  top:90vh;
  width:75px;
  height:30px;
  background:blue;
  color:white;
  
}
.ball {
  position:absolute;
  border-radius:50%;
  z-index:-1;
}
.wall {
  z-index:-1;
}
.view {
  width:100vw;
  height:100vh;
  position:absolute;
}